name: fengwuxp_openfeign_example
description: dart openfiegn exmaple
version: 0.0.3
author: fengwuxp
homepage: https://github.com/fengwuxp/dart_openfeign

environment:
  sdk: ">=2.2.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  glob: ^1.2.0
  reflectable:
    git: git://github.com/dart-lang/reflectable.git
  meta: ^1.0.4
  built_collection: '>=2.0.0 <5.0.0'
  built_value: ^7.0.2
  logging: ^0.11.4
  fengwuxp_dart_basic:
    git: git://github.com/fengwuxp/fengwuxp_dart_basic.git
  fengwuxp_openfeign_boot:
    path: ../boot/
  bot_toast: ^3.0.0
  flutter_spinkit: ^4.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  quiver: '>=0.21.0 <3.0.0'
  test: ^1.0.0
  build_runner: any
  build_test: any
  # If you need to run web tests, you will also need this dependency.
  #  build_web_compilers: any
  built_value_generator: ^7.0.9
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

# To add assets to your package, add an assets section, like this:
# assets:
#  - images/a_dot_burr.jpeg
#  - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware.

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages
